%h2= t('users.consultation')
= form_for @consultation, :html => {:multipart => true, class: 'form-horizontal'} do |f|
  - if @consultation.errors.any?
    %ul
      - @consultation.errors.full_messages.each do |msg|
        %li= msg
  .control-group
    = f.label t('consultations.date'),:class=>"control-label"
    .controls
      = f.text_field :date
  .control-group
    = f.label t('consultations.doctor'),:class=>"control-label"
    .controls
      = f.text_field :doctor
  .control-group
    = f.label t('consultations.doctor_type'),:class=>"control-label"
    .controls
      = f.text_field :doctor_type
  .control-group
    = f.label t('consultations.comments'),:class=>"control-label"
    .controls
      = f.text_area :comments, size: "25x4"
  - if @consultation.file.present?
    .control-group
      = f.label t('consultations.file_preview'),:class=>"control-label"
      .controls
        = link_to t('consultations.download'), @consultation.file.url, target: "_blank"
    .control-group
      = f.label t('consultations.file_change'),:class=>"control-label"
      .controls
        = f.file_field :file
  - else
    .control-group
      = f.label t('consultations.file'),:class=>"control-label"
      .controls
        = f.file_field :file
  .control-group
    .controls
      - if @consultation.new_record?
        = f.submit t('consultations.new'),  :class => 'btn btn-medium btn-success'
      - else
        = f.submit t('consultations.edit'),  :class => 'btn btn-medium btn-success'
= link_to t('helpers.buttons.back'), :back, class: "btn"
