%h1=t('users.consultations')
%table.table.table-bordered
  %thead
    %tr
      %th= t('consultations.date')
      %th= t('consultations.doctor')
      %th= t('consultations.file')
      %th= t('consultations.comments')
  %tbody
    - current_user.consultations.each do |consultation|
      %tr
        %td= link_to l(consultation.date, :format => :long), consultation
        %td= consultation.doctor
        - if consultation.file.present?
          %td= link_to t('consultations.download'), consultation.file.url, target: "_blank"
        - else
          %td -
        %td= consultation.comments
%a.btn.btn-medium.btn-success{href: new_consultation_path}= t('consultations.new')
