.row-fluid
  .span4
    .hero-unit
      %dl.dl-horizontal
        %dt= t('consultations.date')
        %dd= l(@consultation.date, :format => :long)
        %dt= t('consultations.doctor')
        %dd= @consultation.doctor
        %dt= t('consultations.doctor_type')
        %dd= @consultation.doctor_type
        %dt= t('consultations.comments')
        %dd= @consultation.comments
.row-fluid
  %a.btn.btn-medium.btn-success{href: edit_consultation_path(@consultation)}= t('consultations.edit')
  = link_to t('helpers.buttons.back'), :back, class: "btn"
