%h2= t('users.edit')
= form_for @user, {html:{class:'form-horizontal'}} do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  .control-group
    = f.label t('users.first_name'), class: 'control-label'
    .controls
      = f.text_field :first_name, :autofocus => true
  .control-group
    = f.label t('users.last_name'), class: 'control-label'
    .controls
      = f.text_field :last_name
  .control-group
    = f.label t('users.age'), class: 'control-label'
    .controls
      = f.number_field :age, :min => 18
  .control-group
    = f.label t('users.email'), class: 'control-label'
    .controls
      = f.email_field :email
  .control-group
    = f.label t('users.password'), class: 'control-label'
    .controls
      = f.password_field :password
  .control-group
    = f.label t('users.password_confirmation'), class: 'control-label'
    .controls
      = f.password_field :password_confirmation
  .control-group
    .controls
      = f.submit t('users.edit'), class: 'btn btn-medium btn-success'
= link_to t('helpers.buttons.back'), :back, class: "btn"
