%h2= t('users.edit')
= form_for @user do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  %div
    = f.label t('users.first_name')
    %br/
    = f.text_field :first_name, :autofocus => true
  %div
    = f.label t('users.last_name')
    %br/
    = f.text_field :last_name
  %div
    = f.label t('users.age')
    %br/
    = f.number_field :age, :min => 18
  %div
    = f.label t('users.email')
    %br/
    = f.email_field :email
  %div
    = f.label t('users.password')
    %br/
    = f.password_field :password
  %div
    = f.label t('users.password_confirmation')
    %br/
    = f.password_field :password_confirmation
  %div= f.submit t('users.edit'), class: 'btn btn-medium btn-success'
  = link_to t('helpers.buttons.back'), :back, class: "btn"
