
.container
  .jumbotron
    - if flash[:notice]
      .alert.alert-success= flash[:notice]
    - if flash[:error]
      .alert.alert-error= flash[:error]
    - if flash[:alert]
      .alert.alert-warning= flash[:alert]
    .alert.alert-success= t('home.alert')
    %h1 Medic Link
    %p.lead= t('home.slogan')
    %a.btn.btn-large.btn-success{href: new_user_registration_path}= t('users.sign_up')
  %hr
  - if controller.controller_name != "registrations" && (controller.controller_name != "users" && controller.action_name != "view_emergency_information")
    .row-fluid
      .span4
        %h2= t('home.consultations')
        %p= t('home.consultations_text')
        = image_tag "article_32x32.png" , class: 'index-img'
      .span4
        %h2= t('home.emergency_code')
        %p= t('home.emergency_code_text')
        = image_tag "eye_32x24.png", class: 'index-img'
      .span4
        %h2= t('home.stadistics')
        %p= t('home.stadistics_text')
        = image_tag "image_32x32.png", class: 'index-img'
    %hr
    .row-fluid
      .span4
        %h2= t('home.family')
        %p= t('home.family_text')
        = image_tag "heart_stroke_32x28.png" , class: 'index-img'
      .span4
        %h2= t('home.doctors')
        %p= t('home.doctors_text')
        = image_tag "user_24x32.png", class: 'index-img'
      .span4
        %h2= t('home.medicine')
        %p= t('home.medicine_text')
        = image_tag "eyedropper_32x32.png", class: 'index-img'
    %hr