!!!
%html
  %head
    %title Mediclink
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag '/assets/aperture_32x32.png', :rel => 'shortcut icon'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44438239-1', 'mediclink.herokuapp.com');
      ga('send', 'pageview');
  %body{"data-action" => controller.action_name, "data-controller" => controller.controller_name}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Medic Link
          .nav-collapse.collapse
            - if user_signed_in?
              %ul.nav
                %li
                  %a{href: user_path(current_user)}= t('users.profile')
                %li
                  %a{href: consultations_path}= t('users.consultations')
              %ul.nav.pull-right
                %li
                  %a{href: destroy_user_session_path, method: 'delete' }
                    = t('users.sign_out')
            - else
              = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "navbar-form pull-right"}) do |f|
                = f.email_field :email, :autofocus => true,  placeholder: t('users.email'), class: "span2"
                = f.password_field :password, placeholder: t('users.password'), class: "span2"
                = f.button t('users.sign_in'), class: "btn"
              
    - if !user_signed_in?
      = render 'layouts/index'
    .container
      = yield
      #footer
        %p © Medic Link 2013

