!!!
%html
  %head
    %title Mediclink
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %a{href: destroy_user_session_path, method: 'delete' }
        = t('users.sign_out')
      = link_to t('users.profile'), current_user
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    - if flash[:error]
      %p.alert.alert-error= flash[:error]
    .ui.transparent.green.center.inverted.menu.celled.grid
      .row
        %a.active.item.column
          %i.home.icon
          Home
        %a.item.column
          %i.mail.icon
          Messages
        %a.item.column
          %i.community.icon
          Browse
        .four.wide.column.form
          .ui.action.input.three.column.grid
            .column
              %input{placeholder: "Email...", type: "email"}/
            .column
              %input{placeholder: "Password...", type: "password"}/
            .column
              .ui.button Search
    = yield